<div class="container">
  <div class="row-logintitle">
    <h2>新規会員登録</h2>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <table>
      <tr>
        <th style="width: 150px"><%= f.label :name %></th>
        <td><%= f.text_field :name, autofocus: true, class: "form-control" %></td>
        <td></td>
      </tr>
      <tr>
        <th style="width: 150px"><%= f.label :email %></th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
        <td></td>
      </tr>
      <tr>
        <th style="width: 150px"><%= f.label :password %></th>
        <td><% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %></td>
        <td></td>
      </tr>
      <tr>
        <th style="width: 150px"><%= f.label :password_confirmation %></th>
        <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %></td>
        <td></td>
      </tr>
      <tr>
        <th style="width: 150px"></th>
        <td><%= f.submit "Sign up", class: "btn btn-primary" %></td>
        <td></td>
      </tr>
    </table>
    <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
