<div class="container">
  <%= form_with model:@user, local:true do |f| %>
  <div class="ield form-group mt-3 text-center col-sm-6 offset-sm-3">
    <h3 style="padding: 30px;">プロフィール編集</h3>
    <button type="button" class="btn btn-outline-light rounded-pill">
    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
    </button>
  </div>
  <div class="ield form-group mt-3 text-center col-sm-6 offset-sm-3">
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前",class: "form-control" %>
  </div>
  <div class="ield form-group mt-3 text-center col-sm-6 offset-sm-3">
    <%= f.label :email, "好きな選手" %><br>
    <%= f.text_field :introduction, autofocus: true, id:"inputintroduction", placeholder:"好きな選手など、、、",class: "form-control" %>
  </div>
  <div class="ield form-group mt-3 text-center col-sm-6 offset-sm-3">
    <%= f.submit "変更を保存", class: "btn btn-primary" %>
  </div>
  <% end %>
<%= link_to :back do %><div style="color: black;">
  <i class="fas fa-undo-alt">戻る</i></div>
  <% end %>
</div>