<div class="container">
<h1>Follow Users</h1>
<% if @user.followed.count == 0 %>
<h6><%= "ユーザーはいません" %></h6>
<% else %>
  <table class='table table-hover'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="6"></th>
    </tr>
  </thead>
<tbody>
<% @users.each do |user| %>
<div class='col-md-10 offset-md-1'>
    <tr>
  <td><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></td>
	  <td><%= user.name %></td>
    <td>フォロー数：<%= user.follower.count %></td>
    <td>フォロワー数：<%= user.followed.count %></td>
    <td><%= link_to "show", user_path(user.id) %></td>
  </tr>
<% end %>
<% end %>
</tbody>
</table>
<%= paginate @users_page %>


