<%= @user.name %>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
好きな選手 <%= @user.introduction %>
<% if @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
<% end %>

<% @user.posts.each do |post| %>
<div>
  <p>タイトル : <%= link_to post.title, post_path(post.id) %></p>
</div>
<% end %>

<% unless current_user == @user %>
 <% if current_user.following?(@user) %>
  <%= link_to "フォロー外す", unfollow_path(@user.id), method: :delete, class: "btn btn-primary" %>
 <% else %>
  <%= link_to "フォローする", follow_path(@user.id), method: :POST, class: "btn btn-success" %>
 <% end %>
<% end %>

  <tr>
    <% @user ||= current_user %>
    <th>follows</th>
    <th><%= link_to @user.follower.count, user_users_followed_path(@user.id) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to @user.followed.count, user_users_follower_path(@user.id) %></th>
  </tr>
