<%= search_form_for @search, url: posts_path do |f| %>
<div class="flex-container">
<div class="search">
<%= f.search_field :title_cont, placeholder: "戦術を検索...", class: "form-control" %></div>
  <%= f.submit '検索', class: "btn btn-primary" %>
<% end %>
</div>
<div class="white">
<div class="col-12 ml-1">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>名前</th>
        <th>タイトル</th>
        <th>戦術</th>
        <th><i class="far fa-comment-dots"></i></th>
        <th><i class="far fa-heart"></i></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% posts.each do |post| %>
        <td><%= link_to post.user.name, user_path(post.user) -%>
        <div class="img"><%= attachment_image_tag post.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" -%></div></td>
        <td><%= link_to post.title, post_path(post.id) -%></td>
        <td><%= post.body.truncate(20) -%>
        <% if post.body.size >= 10 -%>
        <%= link_to post_path(post.id) do %>
        続きを読む
        <% end %></td>
        <% end %>
        <td><%= link_to"#{post.post_comments.count}", post_path(post.id) %></td>
        <td>
          <div id="favorite-<%= post.id %>">
            <%= render 'favorites/favorites', post: post %>
          </div>
        </td>
      </tr>
        <% end %>
    </tbody>
  </table>
<%= paginate posts %>
</div>
</div>