<h1 class="my-10 ml-3">戦術一覧</h1>
        <%= flash[:notice] %>

        <%= search_form_for @search, url: posts_path do |f| %>
<div style="width: 200px;">
          <%= f.search_field :title_cont, placeholder: "戦術を検索...", class: "form-control" %></div><br>
          <%= f.submit '検索', class: "btn btn-primary" %>
        <% end %><br>


<div class="col-12 ml-1">
  <table class="table">
    <thead class="table-primary">

<tr>

        <!--<th>#</th>-->
        <th>ユーザーネーム</th>
        <th>タイトル</th>
        <th>戦術</th>
        <th>コメント</th>
        <th>いいね</th>
        <th colspan="4"></th>
</tr>
    </thead>
    <tbody>
      <tr>
        <% @posts.each do |post| %>
        <!--<td></td>-->
        <td><%= link_to post.user.name, user_path(post.user) -%>
        <%= attachment_image_tag post.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" -%></td>
        <td><%= link_to post.title, post_path(post.id) -%></td>
        <td><%= post.body.truncate(20) -%>
        <% if post.body.size >= 10 -%>
        <%= link_to post_path(post.id) do %>
        続きを読む
        <% end %></td>
        <% end %>
        <td><%= link_to"#{post.post_comments.count}コメント", post_path(post.id) %></td>
        <td>
          <div id="favorite-<%= post.id %>">
            <%= render 'favorites/favorites', post: post %>
          </div>
        </td>
      </tr>
        <% end %>
    </tbody>
  </table>
        <%= paginate @posts %>
</div>
