 <%= render 'layouts/header' %>
<div class='container-px-5 px-sm-0'>
  <div class='row'>
    <div class='col-sm-4 col-md-2'>
      <%= render 'users/info', user: current_user %>
    </div>
    <div class='col-sm-4 col-md-8'>
     <%= render 'index', posts: @posts %>
    </div>

    <div class='col-sm-4 col-md-2'>
    <table class='table'>
  <tr>
    <div class="like">
<i class="fas fa-star" style="color: gold;"></i>いいねランキング</div>
  <% @all_ranks.each.with_index(1) do |post, i| %>
  <th><%= i %>位</th>

  <th><%= post.body.truncate(20) -%>
        <% if post.body.size >= 10 -%>
        <%= link_to post_path(post.id) do %>
        続き
        <% end %></th>
        <% end %>
  </tr>
<% end %>
</table>
  </div>
  </div>
</div>
