<div class="post-body">
  <p>ユーザーネーム：<%= @post.user.name %>
  <%= attachment_image_tag @post.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  <p>タイトル：<%= @post.title %></p>
  <p>戦術：<%= @post.body %></p>
  <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post.user == current_user %>
  <%= link_to "編集", edit_post_path(@post), class: "btn btn-sm btn-success" %>
  <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-sm btn-danger" %>
  <% end %>
</div>
<div id="favorite-<%= @post.id %>">
  <%= render 'favorites/favorites', post: @post %>
</div>

<div class="comment-create">
<%= render 'post_comments/post_comment', post: @post_comment %>
</div>