<!DOCTYPE html>
<html>
  <head>
    <title>WorldTactics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('icon2.png') %>
  </head>
  <body>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
   <%= render 'layouts/header' %>
     <%= render 'layouts/flash' %>
    <%= yield %>
  </body>
</html>
